# .gitlab-ci.yml
image: python:3.11

services:
  - postgres:16-alpine

variables:
  POSTGRES_DB: test_djangodb
  POSTGRES_USER: test_djangodb
  POSTGRES_PASSWORD: test_password123

test:
  stage: test
  before_script:
    # Устанавливаем psql
    - apt-get update && apt-get install -y postgresql-client
    - pip install -r requirements.txt
    - sleep 10  # ждем БД

  script:
    # Просто запускаем тесты без лишних команд
    - echo "Запуск тестов..."
    - python -m pytest tests/ -v

  artifacts:
    when: always
    paths:
      - allure-results/
      - screenshots/
    expire_in: 1 week