# .gitlab-ci.yml
image: python:3.11

services:
  - postgres:16-alpine

variables:
  POSTGRES_DB: test_djangodb
  POSTGRES_USER: test_djangodb
  POSTGRES_PASSWORD: e9ttfeAVvQQIWmXPsXhp8xXUcG0
  DJANGO_SETTINGS_MODULE: recipes.settings

stages:
  - test

test_all:
  stage: test
  before_script:
    - pip install -r requirements.txt
    - pip install pytest
    # Ждем БД
    - sleep 10
  script:
    # Настраиваем БД
    - PGPASSWORD=$POSTGRES_PASSWORD psql -h postgres -U $POSTGRES_USER -c "CREATE DATABASE $POSTGRES_DB;" || true

    # Применяем миграции
    - echo "Применяем миграции..."
    - python manage.py migrate --noinput

    # Запускаем ВСЕ тесты
    - echo "=== ЗАПУСК ВСЕХ ТЕСТОВ ==="
    - python -m pytest tests/ -v
  artifacts:
    when: always
    paths:
      - test-results/
    expire_in: 1 week